.pre-session-container {
  margin: auto;
  background-color: white;
  padding: 20px;
  height: 120px;
  margin-top: 40px;
  max-width: 1140px;
  width: 100%;
  box-shadow: 0 2px 5px #00000055;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}
.pre-session-pic {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-bottom: 0.5em;
}
.pre-session-button {
  display: flex;
  flex-direction: column;
}

.pre-session-button Button {
  width: 90px;
  height: 40px;
  margin-right: 15px;
  margin-top: 20px;
}
.star {
  color: #fdcb6e;
}
.pre-session-rating {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.description-rate-p {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.description-rate {
  display: flex;
  flex-direction: column;
}
.img-name {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.name {
  margin-left: 0.5em;
}
