.pre-session-pic {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-bottom: 0.5em;
}
.pre-session-button {
  margin-top: 2em;
}
.star {
  color: #fdcb6e;
}
.pre-session-rating {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.description-rate-p {
  margin-top: 2em;
}
.description-rate {
  display: flex;
  flex-direction: column;
}
.img-name {
  margin-top: 2em;
}
.name {
}
.description-rate-family {
  margin-top: 2em;
}
