.nav {
  background-color: white;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px #00000010;
}

.nav img {
  max-height: 66px;
  max-width: 190px;
  height: auto;
  width: auto;
  margin: 25px;
}

.button {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.nav .btn {
  width: 90px;
  height: 40px;
  margin: 10px;
}

.navLink {
  margin-right: 25px;
  margin-top: 15px;
  color: #333;
}

.navLink:hover {
  text-decoration: none;
}

.navWelcome {
  color: #228aff;
  margin-right: 25px;
  margin-top: 15px;
}
.navDashboard {
  color: #228aff;
  margin-left: 0px;
  margin-top: 45px;
}
.navDashboard:hover {
  text-decoration: none;
}
