.request-container {
  background-color: white;
  margin-top: 40px;
  box-shadow: 0 2px 5px #00000035;
}
.pending-req-pic {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-bottom: 0.5em;
}
.pending-req-button {
  display: flex;
  flex-direction: row;
}
.pending-req-button Button {
  width: 90px;
  height: 40px;
  margin-right: 15px;
  margin-top: 1em;
}
.star {
  color: #fdcb6e;
}
.profile-pic-rating {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.description-rate {
  display: flex;
  flex-direction: column;
}
