.pre-session-container {
  background-color: white;
  margin-top: 40px;
  box-shadow: 0 2px 5px #00000035;
  padding: 1em;
}

.previous-session-profile-picture {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-bottom: 0.5em;
}
.profile-container {
  margin-top: 2em;
}
.profile-container-upload {
  margin-top: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
