.pre-session-container {
  background-color: white;
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  box-shadow: 0 2px 5px #00000035;
}

.pre-session-pic {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-bottom: 0.5em;
}
